@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    margin: 0;
    font-family: 'Indie Flower', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

h1 {
    font-size: 5rem;
    text-align: center;
    text-shadow: 10px 4px 4px grey;
    font-family: 'Indie Flower';
    color: white
}

#game-description {
    font-size: 30px;
    text-align: center;
    display: block;
    font-family: 'Indie Flower';
}

#intro-container {
    text-align:center;
}

#intro-text {
    position: relative;
    z-index: 3
}

#intro-canvas {
    position: absolute;
    background-image: url('./images/intro-bg-img.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#canvas {
    /* background-image: url('./images/library-background-2.jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 2
}

#start-button {
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 40px;
    box-shadow: 10px 10px 10px grey;
    padding: 30px;
    font-size: 40px;
    font-family: 'Indie Flower';
    z-index: 1;
}

#start-button:hover {
    background-color: blanchedalmond;
    color: black
}

#score-card {
    position: absolute;
    display: none;
    top: 2%;
    right: 10%;
    padding: 20px;
    background-color: transparent;
    color: white;
    font-size: 50px;
    font-family: 'Indie Flower';
}

#winner {
    display: none;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 20%;
    left: 50%;
    color: white;
    border: none;
    font-size: 80px;
    font-family: 'Indie Flower';
    text-align: center;
}

#loser{
    display: none;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 20%;
    left: 50%;
    color: white;
    border: none;
    font-size: 80px;
    font-family: 'Indie Flower';
    text-align: center;
}

#instructions {
    display: block;
    position: absolute;
    bottom: 10%;
    width: 40vw;
    text-align: center;
    background-color: bisque;
    color: black;
    box-shadow: 10px 10px 10px grey;
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Indie Flower';
    
}

#restart-game-won{
    position: absolute;
    display: none;
    transform: translate(-50%, -50%);
    bottom: 10%;
    left: 50%;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 40px;
    box-shadow: 10px 10px 10px grey;
    padding: 30px;
    font-size: 40px;
    font-family: 'Indie Flower';
}

#restart-game-lost{
    position: absolute;
    display: none;
    transform: translate(-50%, -50%);
    bottom: 20%;
    left: 50%;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 40px;
    box-shadow: 10px 10px 10px grey;
    padding: 30px;
    font-size: 40px;
    font-family: 'Indie Flower';
}

#restart-game-won:hover {
    background-color: blanchedalmond;
    color: black
}

#restart-game-lost:hover {
    background-color: blanchedalmond;
    color: black
}